
# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/
.vite/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
*.db
*.db-journal

# Logs
*.log

